<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Hash.Properties.Settings.LoginsConnectionString" connectionString="Data Source=c:\dados\Logins" />
    </connectionStrings>
    <userSettings>
        <Hash.Properties.Settings>
            <setting name="senhaSMTP" serializeAs="String">
                <value>jv123</value>
            </setting>
        </Hash.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Hash.Properties.Settings>
            <setting name="enderecoSMTP" serializeAs="String">
                <value>macoratti.smtp.com</value>
            </setting>
            <setting name="portaSMTP" serializeAs="String">
                <value>53</value>
            </setting>
            <setting name="emailSMTP" serializeAs="String">
                <value>macoratti@yahoo.com</value>
            </setting>
        </Hash.Properties.Settings>
    </applicationSettings>
</configuration>